:root {
  --blackPrimary: #101010;
  --blackOnPrimary: #000000;
  --whitePrimary: #fefefe;
  --whiteOnPrimary: #ffffff;
  --grey09: #97989d;
  --grey08: #2c353d;
  --grey07: #1e252b;
  --grey06: #262d34;
  --grey05: #585858;
  --grey04: #828282;
  --grey03: #a7a7a7;
  --grey02: #c3c3c1;
  --grey01: #f1f1ef;
  --darkPurple01: #1d112d;
  --darkPurple02: #301b4a;
  --default: #6c54f6;
  --loading: #503bc9;
  --pressed: #4837ab;
  --disabled: #404040;
  --green: #3fba62;
  --red: #e25757;
  --warning: #e7b431;
}
body {
  background-color: var(--grey07);
  color: var(--grey01);
}
::placeholder {
  color: var(--grey03);
}
.theme-modal[open] {
  background-color: var(--grey06);
}
.theme-modal::backdrop {
  background-color: #000000bf;
}
.theme-textfield-icon-box {
  background-color: var(--whiteOnPrimary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.theme-text {
  color: var(--whiteOnPrimary);
}
.theme-text-grey {
  color: var(--grey03);
}
.theme-text-purple {
  color: var(--default);
}
.theme-btn {
  background-color: var(--default);
  color: var(--whiteOnPrimary);
}
.theme-event-warning {
  background-color: var(--grey06);
}
.theme-event-warning-title-and-date {
  color: var(--grey01);
}
.theme-event-warning-author {
  color: var(--default);
}
.theme-event-warning-description {
  color: var(--grey09);
}
.theme-event-warning-date {
  background-color: var(--grey08);
}
.theme-event-warning:hover {
  background: var(--grey08);
}
