:root {
  --blackPrimary: #101010;
  --blackOnPrimary: #000000;
  --whitePrimary: #fefefe;
  --whiteOnPrimary: #ffffff;
  --gray09: #97989d;
  --gray08: #2c353d;
  --gray07: #1e252b;
  --gray06: #262d34;
  --gray05: #585858;
  --gray04: #828282;
  --gray03: #a7a7a7;
  --gray02: #c3c3c1;
  --gray01: #f1f1ef;
  --darkPurple01: #1d112d;
  --darkPurple02: #301b4a;
  --default: #6c54f6;
  --loading: #503bc9;
  --pressed: #4837ab;
  --disabled: #404040;
  --green: #3fba62;
  --red: #e25757;
  --warning: #e7b431;
}
body {
  background-color: var(--gray07);
  color: var(--gray01);
  -webkit-font-smoothing: antialiased;
  list-style: none;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
::placeholder {
  color: var(--gray03);
}
.theme-modal[open] {
  background-color: var(--gray06);
}
.theme-modal::backdrop {
  background-color: #000000bf;
}
.theme-textfield-icon-box {
  background-color: var(--whiteOnPrimary);
  box-shadow: 0px 4px 4px rgba(221, 206, 206, 0.25);
}
.theme-text {
  color: var(--whiteOnPrimary);
}
.theme-text-gray {
  color: var(--gray03);
}
.theme-text-purple {
  color: var(--default);
}
.theme-btn {
  background-color: var(--default);
  color: var(--whiteOnPrimary);
  border: solid 1px var(--default);
}

.theme-menu {
  background-color: var(--gray06);
}

.theme-topic-container {
  background-color: var(--gray06);
}
.theme-topic-datetime {
  color: var(--gray09);
}
.theme-topic-tips {
  background-color: var(--gray08);
}

.theme-selected-title-tags-in-high {
  color: var(--default);
  fill: var(--default);
}

.theme-color-title-tags-in-high {
  color: var(--whiteOnPrimary);
}
.theme-color-length-post-Tag-tags-in-high {
  color: var(--gray09);
}
.theme-component {
  background-color: var(--gray06);
}
.theme-secondary-btn {
  background: transparent;
  border: solid 1px var(--default);
  color: var(--default);
  box-sizing: border-box;
}
.theme-bg-content-gray-08 {
  background-color: var(--gray06);
}
.tag-main {
  background-color: var(--gray06);
}
.tag > svg:not(.exception) {
  fill: var(--whiteOnPrimary);
  background-color: var(--gray08);
  padding: 4px;
  border-radius: 4px;
}

.tag:hover {
  background-color: var(--gray08);
}
.tag:hover > svg {
  background-color: transparent;
  padding: 4px;
}
.tag > div > :first-child {
  color: var(--whiteOnPrimary);
}

.tagActive {
  display: flex;
  gap: 13px;
  border-radius: 0.375rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.tagActive > div > :first-child {
  color: var(--default);
}

.tagActive > svg {
  fill: var(--default);
  background-color: transparent;
  padding: 4px;
}

.tagActive:hover {
  background-color: var(--gray08);
}

.theme-btn-color-code-auth-box {
  background-color: var(--default);
}
.theme-color-email-code-auth-box {
  color: var(--default);
}
.theme-color-title-code-auth-box {
  color: var(--whiteOnPrimary);
}
.theme-color-outline {
  outline-color: var(--default);
}
.theme-color-input {
  color: black;
}
.response-active {
  color: var(--default);
}
.response-disabled {
  color: var(--whitePrimary);
}
.response-chat:hover {
  color: var(--default);
}
.response-chat {
  transition: color 0.5s;
}
